
@media (max-width: 767px) {


    body {
        background-image: url(../imgess/backg.png);
    }    
    #gotomnue {
        margin: 20px;
        width: 80px;
        height: 30px;
    }
    
    footer {
        margin-top: 100%;
    
    }
    textarea {

        width: 350px;
        height: 500px;
    }
    
    #teamSupportsubmit {
        font-size: 20px;
        width: 100%;
        height: 50px;
    
    }
    
    #a {
    
        width: 80%;
    }
   
    .container1,
    .container2,
    .container3,
    .container4 {
        display: grid;
        justify-content: space-evenly;
    }

    .menu-container {
       
        padding: 10px;
    }



    #homePageimg1 {
        width: 40%;
        height: 150px;
        padding: 150px 0 0 0;
    }

    #homePageimg2 {
        width: 51%;
        height: 150px;
        padding: 150px 0 0 25px;
    }

    #gotologin {
        top: 60%;
        left: 10px;
        margin: 0px;
        height: 28px;
    }


    .button-container,
    .button-container1,
    .button-container3,
    .button-container4 {
        position: relative;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        top: 5%;
        padding: 0 7%;

    }

.container1{
    grid-template-areas:
    "a1 a2"
    "a3 a4"
    "a5 a6";

}
.container2 {

    grid-template-areas:


   "b1"
   "b2"
   "b4"
   "b5"
    ;
}
.container3{
    grid-template-areas:
   "c1"
   "c2"
   "c3"
   "c4"
   ;

}
.container4 {


    grid-template-areas:

"y1"
"y2"
"y3"
"y4"
"y5"
"y6"
"y7"
"y8"
    ;

}

.button-container2{

    margin-left: 60px;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 4%;
}

}
